@import "../../../../sass/mixins";

nav {
    button.hamburger {
        transition: all 0.25s ease;
        opacity: 0;
        display: inline-block;
        font-size: 2rem;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        padding: 0.5rem;
        width:3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        text-align: center;
        background: none;
        i {
            margin-right: 0;
            display: block;
        }

        &:hover {
            background: linear-gradient(135deg, rgba(173,0,255,1) 0%, rgba(255,92,0,1) 100%);
        }

        &.visible {
            opacity: 1;
        }

        @include breakpoint(1080px, min) {
            display: none;
        }
    }
    ul {
        margin-right: -1rem;
        @include breakpoint(1080px, max) {
            opacity: 0;
            width: 0;
            height: 0;
            display: none;
        }
        
        &.visible {
            @include breakpoint(1080px, max) {
                width: auto;
                height: auto;
                padding: 2rem 2.5rem;
                display: block;
                opacity: 1;
                position: fixed;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                text-align: right;
                padding-top: 2rem;
                background: rgba(0,0,0,0.7);
                z-index: 999;
                align-items: flex-end;
                li {
                    i {
                        font-size: 2rem;
                    }
                    margin-bottom: 2rem;
                }
            }
        }
        @include breakpoint(1080px, min) {
            display: inline-block;
        }
        li {
            &.invisible {
                @include breakpoint(1080px, min) {
                    display: none;
                }
                
            }
            border-radius: 2rem;

            &:hover {
                background: linear-gradient(135deg, rgba(173,0,255,1) 0%, rgba(255,92,0,1) 100%);
            }
            
            padding: 1rem;
            padding-bottom: 0.6rem;
            vertical-align: bottom;
            display: inline-block;
            margin-left: 2rem;

            a {
                text-decoration: none;
                font-weight: 800;

                color: #fff;

                &:hover {
                    color: #fff;
                }

                @include lightmode() {
                    color: #000;

                    &:hover {
                        color: #000;
                    }
                }

            }
        }
    }
}