<section class="list-section">
    <h1>{{section.title}}</h1>
    <ul [ngClass]="customListClass">
        <li *ngFor="let item of section.items">
            <a href="{{item.url}}" target="_blank" *ngIf="item.url != ''">
                <div [style.background-color]="item.color">
                    <i *ngIf="item.useIconClass" class="{{item.icon}}"></i>
                    <span *ngIf="!item.useIconClass">{{item.icon}}</span>
                </div>
                <h2>{{item.title}}<span>{{item.subTitle}}</span></h2>
            </a>
            <div *ngIf="item.url == ''" [style.background-color]="item.color">
                <i *ngIf="item.useIconClass" class="{{item.icon}}"></i>
                <span *ngIf="!item.useIconClass">{{item.icon}}</span>
            </div>
            <h2 *ngIf="item.url == ''">{{item.title}}<span>{{item.subTitle}}</span></h2>
        </li>
    </ul>
</section>