<section class="list-section">
    <h1>Some of my Skills Include...</h1>
    <ul>
        <li>
            <div class="html">
                <i class="fas fa-code"></i>
            </div>
            <h2>HTML/CSS<span>Since 2010</span></h2>
            
        </li>
        <li>
            <div class="csharp">
                <span>C#</span>
            </div>
            <h2>C#<span>Since 2016</span></h2>
            
        </li>
        <li>
            <div class="java">
                <i class="fab fa-java"></i>
            </div>
            <h2>Java<span>Since 2018</span></h2>
            
        </li>
        <li>
            <div class="angular">
                <i class="fab fa-angular"></i>
            </div>
            <h2>Angular 2+<span>Since 2018</span></h2>
            
        </li>
        <li>
            <div class="photoshop">
                <span>Ps</span>
            </div>
            <h2>Photoshop<span>Since 2010</span></h2>
            
        </li>
    </ul>
</section>