<div class="project">
    <div class="details">
        <div class="project-image" style="background-image: url({{project.imageUrl}});">
            <p class="sr-only">Image of {{project.title}}</p>
        </div>
        <h1>{{project.title}}</h1>
        <h2>{{project.date}}</h2>
        <p>{{project.description}}</p>
    </div>
    <div class="buttons">
        <a class="button-link" *ngFor="let link of project.links" href="{{link.url}}" target="_blank"><i *ngIf="link.useIcon" [ngClass]="link.icon"></i><span>{{link.text}}</span></a>
    </div>
</div>